<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather/png">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by Nirja Desai. It uses data from mapbox.com and weatherapi.com</p>
        </div>
        {{>footer}}
    </body>
</html>